.App {
  /* text-align: center; */
  color: white;
  max-width: 500px;
  margin: 0 auto;
}
.Header {
  text-align: center;
  color: gold;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: -0.3rem;
}

.accordeon {
  background-color: rgba(34, 34, 34, 0.9);
  margin: 20px;
  border: 1px solid aliceblue;
  border-radius: 3px;

  max-height: 3rem;
  overflow: hidden;

  transition: max-height 0.3s ease-in-out;
}

.accordeon.open {
  max-height: 400px;
  overflow-y: scroll;
}

.acc-title {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  cursor: pointer;
  color: gold;
}

.title {
  color: gold;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 2rem;
  padding-top: 1rem;
}

li {
  padding: 0.3rem 0;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
}

.accordeon .arrow {
  rotate: 270deg;
}
